{:paths ["src/clj" "target/classes"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                 com.lambdaisland/classpath  {:mvn/version "0.0.27"}}
   :jvm-opts [;; enable java assertions
              #_ "-ea"]}

  :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.10.0" :git/sha "3a2c484"}}
          :ns-default build}}

 :mvn/repos
 {"central"        {:url "https://repo1.maven.org/maven2/"}
  "clojars"        {:url "https://clojars.org/repo"}}}
